:root {
  --main: #BC6C25;
  --mainshadow: #DDA15E;
  --mainbg: #E9EDC9;
  --content: #CCD5AE;
  --link: #FFFFFF;
  
  --smallWrap: 25px;
}

html {
  height: 100%;
  width: 100%;
  margin: 0;
}

 body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: var(--mainbg);
  margin: auto;
  padding: 0;
  display: grid;
  font-family: 'Source Sans Pro', sans-serif;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100px 1fr 100px;
  grid-template-areas:
    "header header"
    "content mainarticle"
    "footer footer";
}

header, nav {
  background: var(--main);
  margin: 0;
  padding: 0;
  grid-area: header;
  font-family: Century Gothic, Verdana;
  color: var(--link);
}

header h1 {
  line-height: 100px;
  vertical-align: middle;
  display: inline-flex;
  margin-left: var(--smallWrap);
  text-transform: uppercase;
  font-weight: normal;
  font-size: 2em;
}

.content {
  grid-area: content;
  margin: 10% 0 5% 20%;
  background-color: var(--mainshadow);
  padding: 1em 0;
}

.content img, .content iframe, .content form {
  width: 100%;
  height: 100%;
}

article {
  grid-area: mainarticle;
  margin: 10% 20% 5% 0;
  background-color: var(--content);
  padding: 1em;
}

article h1 {
  font-weight: normal;
  font-size: 2em;
}

footer {
  grid-area: footer;
  background-color: var(--content);
  line-height: 100px;
  vertical-align: middle;
  text-align: left;
  padding-left: var(--smallWrap);
}

footer img {
  max-height: 50px;
  float: right;
  padding: var(--smallWrap) var(--smallWrap) var(--smallWrap) 0;
}

footer a {
  font-size: 1em;
}

nav ul {
  list-style-type: none;
  display: inline-flex;
  flex-direction: row;
  float: right;
  margin-right: var(--smallWrap);
  margin-top: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}

nav li {
  padding: 0 0 0 0.8em;
  font-size: 2em;
  line-height: 100px;
  vertical-align: middle;
}

a {
  color: var(--link);
  text-decoration: none;
}

a:hover {
  color: var(--mainbg);

}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: Century Gothic;
}


/*forms*/
form {
  padding: 0 1em;
  box-sizing: border-box;
}

input {
  width: 100%;
  line-height: 1.5em;
  border-radius: 0.15rem;
  background-color: var(--link);
  border: 1px var(--main) solid;
}

input[type=number] {
  width: 50%;
}

input#Ort {
  width: 50%;
}

textarea {
  width: 100%;
  background-color: var(--link);
  border: 1px var(--main) solid;
  border-radius: 0.15rem;
}

label {
  width: 100%;
  display: block;
}

.buttons {
  margin-top: 10px;
  display: inline-flex;
  justify-content: center;
  vertical-align: middle;
}

.buttons input {
  background-color: var(--link);
}

.radio {
  display: flex;
}

.radio label {
  background-color: unset;
  letter-spacing: unset;
  padding: unset;
}

.radio  input {
  width: unset;
}

.locations {
  display: flex;
  margin-right: 1px;
}

input [type=number] {
  margin-right: 20px;
}


/*Tablets*/
@media only screen and (max-width: 1148px) {

 body {
  min-width: 360px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100px  100px 0.5fr 0.5fr 100px;
  grid-template-areas:
    "header"
    "navigation"
    "content"
    "mainarticle"
    "footer";
  }

  header h1 {
    font-size: 1.5em;
  }

  nav {
    grid-area: navigation;
    text-align: center;
  }

  nav ul {
    background-color: var(--mainshadow);
    width: 100%;
    margin-right: 0;
    justify-content: center;
  }

  li {
    font-size: 0.8em;
  }

  .content {
    grid-area: content;
    margin:0;
  }

  article {
    grid-area: mainarticle;
    margin: 0;
    padding: 1em;
  }

  article h1, article h2 {
    font-weight: bold;
    font-size: 1.25em;
  }

  footer {
    background-color: var(--main);
  }

}



/*Mobile Phone*/

@media only screen and (max-width: 700px) {

 body {
  min-width: 360px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100px  130px 0.4fr 0.4fr 100px;
  grid-template-areas:
    "header"
    "navigation"
    "content"
    "mainarticle"
    "footer";
 }

  header h1 {
    font-size: 1.5em;
  }

  nav {
  grid-area: navigation;
  text-align: center;
  font-size: 1em;
  }

  nav ul {
 
    display: unset;
    flex-direction: unset;
    float: unset;
    margin: 0;
    padding: 2px;
    letter-spacing: unset;
    background-color: unset;
  }

  nav li {
    padding: 2px 0;
    line-height: unset;
    vertical-align: unset;
    font-size: 1.25em;
  }

}
